$primary-color: #2c3e50;
$bg-color: #eeeeee;

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 100%);
}

.todo {
    width: 300px;
    margin: 20px auto;
    border: solid 2px $primary-color;
    overflow: hidden;
    padding: 10px;
    background: $bg-color;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header {
    background: $primary-color;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: -10px -10px 20px -10px;
    text-transform: uppercase;
    display: flex;
}

.todo-title {
    text-align: center;
    margin-bottom: 15px;
}

form {
    margin: 0 auto;
    text-align: center;
}

form > button {
    margin-left: 5px;
}

.action-btns {
    text-align: center;
}

.action-btns > button {
    margin: 0 4px;
}

.delete-btn {
    float: right;
    color: #e74c3c !important;
    cursor: pointer;
}

.timer-toggle {
    text-align: center;
    padding: 10px;
}
